<nav class="navbar navbar-dark bg-dark px-4 text-light navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Dashboard</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">

        <ul class="navbar-nav mr-auto">
            <li ngbDropdown class="nav-item">
                <a href (click)="false" class="nav-link" ngbDropdownToggle>İşler</a>
                <div ngbDropdownMenu>
                    <button ngbDropdownItem routerLink="/admin/works">Tüm İşler</button>
                    <button ngbDropdownItem routerLink="/admin/works/add">İş ekle</button>
                </div>
            </li>
            <li ngbDropdown class="nav-item">
                <a href (click)="false" class="nav-link" ngbDropdownToggle>Kategori</a>
                <div ngbDropdownMenu>
                    <button ngbDropdownItem routerLink="/admin/categories">Tüm kategoriler</button>
                </div>
            </li>
            <li ngbDropdown class="nav-item">
                <a href (click)="false" class="nav-link" ngbDropdownToggle>Ayarlar</a>
                <div ngbDropdownMenu>
                    <button ngbDropdownItem routerLink="/admin/about">Hakkımda</button>
                    <button ngbDropdownItem routerLink="/admin/settings">Ayarlar</button>
                    <button ngbDropdownItem routerLink="/admin/localization">Dil Ayarlari</button>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav  px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link cursor-pointer" (click)="logout()">Çıkış Yap</a>
            </li>
        </ul>
    </div>
</nav>


<div class="container-fluid">
    <router-outlet></router-outlet>
</div>