<app-default-header [whiteNavbar]="false"></app-default-header>

    <div class="container pt-5 about px-5" >
        <div class="row">
            <div class="col-lg-2">
            </div>
            <div class="col-lg-2">
                <img src="https://mir-s3-cdn-cf.behance.net/user/276/3c5793219359535.5e9586ee9f09b.png" width="100%"  class="portre" />
            </div>
            <div class="col-lg-6 mb-3">
                <h4>Hello!</h4>
        <p>I'm Selin Özoğlu. Since my high school education, I still take part in the field of design with great pleasure. You can review my works, which I love to design in the light of my personality and the education I have received, from the portfolio link in my resume.
I believe that the result of selflessly fulfilling the responsibilities required by my position in my life will result in absolute success. Thank you for your time on behalf of my resume.
        </p>

            </div>
            <div class="col-lg-2">
                
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2"></div>

            <div class="col-lg-4 mt-3">
                <h4>Education & Certifications</h4>
                <ul class="mb-3">
                    <li>
                        Uskudar Republic Technical Anatolian High School
                       <span class="text-muted">2012-2016</span>
                        
                    </li>
                    <li>
                        Istanbul Arel University
                        <span class="text-muted">2016-2018</span>
                    </li>
                </ul>

                <h4>Skils</h4>
                <ul class="mb-3">
                    <li>
                        Adobe Illustrator -
                       <span class="text-muted">Expert</span>
                    </li>
                    <li>
                        Adobe Photoshop -
                       <span class="text-muted">Expert</span>
                    </li>
                    <li>
                        Adobe InDesign -
                        <span class="text-muted">Intermediate</span>
                    </li>
                    <li>
                        Corel Draw -
                        <span class="text-muted">Intermediate</span>
                    </li>
                    <li>
                        After Effect -
                        <span class="text-muted">Intermediate</span>
                    </li>
                    <li>
                        3D Blander -
                        <span class="text-muted">Intermediate</span>
                    </li>
                </ul>
            </div>
            <div class="col-4 mt-3">
                <h4>Professional Experience</h4>
                <ul class="mb-3">
                    <li>
                        Esit Elektronic -
                        <span class="text-muted">2.5 years</span>
                    </li>
                    <li>
                        Entegre OSGB -
                        <span class="text-muted">1.5 years</span>
                    </li>
                </ul>
            </div>
            <div class="col-lg-2">
                </div>
        </div>
    
    </div>
