/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
@font-face {
    font-family: "Raleway";
    src: url(assets/fonts/Raleway-VariableFont_wght.ttf) format("truetype");
  }
  * {
    font-family: 'Raleway',sans-serif;
  }
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}
.text-right{
    text-align: right !important;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
  height:5px;
  max-height:5px;
    
}

body {
    /* Margin bottom by footer height */
/*    margin-bottom: 60px;*/
    max-width:100%;
    overflow-x:hidden;
}
.modal{
    z-index: 9999999;
}
.footer {
    width: 100%;
    background:rgb(0,0,0,0.9) !important;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}
.bg-purple{
    background-color: #aa2fb5;
}

.image-bg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
}
.cursor-pointer{
    cursor: pointer;
}

    .image-bg:hover {
        background-size: 100%;
        text-align: left;
        background-position-x: 50%;
        background-position-y: 50%;
        -webkit-animation: zoomin 0.3s;
        animation: zoomin 0.3s;
        animation-fill-mode: forwards;
    }

@-webkit-keyframes zoomin {
    0% {
        background-size: 100%;
    }

    100% {
        background-size: 110%;
    }
}

.square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}
.rectangle{
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.rectangle::before{
    content: "";
        display: block;
        padding-top: 100%; /* initial ratio of 1:1*/
}
.modal-xxl{
    width: 100% !important;
    max-width: 100% !important;
}
.row{
    margin:0;
}

    .square:before {
        content: "";
        display: block;
        padding-top: 100%; /* initial ratio of 1:1*/
    }

    .square a {
        position: absolute;
        z-index: 9998;
        display: block;
        float: none !important;
        justify-content: center;
        display: inline-block;
        clear: both;
        width: 95%;
        height: 95%;
        right: 0;
        left: 0;
        top: 0;
        padding: 1rem;
        bottom: 0;
        margin: auto;
    }

        .square a:hover {
            background-color: rgb(0, 0, 0, 0.3) !important;
        }

            .square a:hover > .texts {
                opacity: 1;
            }

                .square a:hover > .texts h4:after {
                    width: 40%;
                }

                .square a:hover > .texts p {
                    -webkit-transform: translate3d(0,0,0);
                    -ms-transform: translate3d(0,0,0);
                    transform: translate3d(0,0,0);
                    -moz-transform: translate3d(0,0,0);
                    opacity: 1;
                }

    .square .texts {
        position: absolute;
        opacity: 0;
        top: 50%;
        padding: 15px;
        width: 100%;
        color: white;
        text-align: left;
        margin: auto;
        position: absolute;
        top: 50%;
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 100%;
    }

        .square .texts h4 {
            position: relative;
            padding-bottom: 11px;
            font-size:1.7rem;
            font-weight:800;
            margin-bottom: 2.5rem;
        }

            .square .texts h4:after {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0;
                height: 2px;
                transition: width 0.5s;
                background: #fff;
                content: '';
            }

        .square .texts p {
            padding: 1em 1em 1em 0;
            opacity: 0;
            font-weight:700;
            font-size:1.2rem;
            -webkit-transition: opacity 0.8s, -webkit-transform 0.5s;
            transition: opacity 0.5s, transform 0.5s;
            -webkit-transform: translate3d(100%,0,0);
            -ms-transform: translate3d(100%,0,0);
            transform: translate3d(100%,0,0);
            -moz-transform: translate3d(100%,0,0);
        }

.menu-btn {
    right: 1rem;
    position: absolute;
    outline: none;
    z-index: 10000;
    background:white;
    border-radius:0;

}

    .menu-btn:hover >  span {
        background-color:wheat !important;
        margin-bottom:5px;
        background-color:rgb(0,0,0,0.8) !important;
    }
    .menu-btn:focus {
        outline: 0;
        box-shadow: 0 0 0 0 rgb(0 123 255 / 25%);
    }

    .menu-btn span {
        height: 3px;
        display: block;
        width: 30px;
        margin-bottom: 2px;
        transition: margin 0.4s;
    }

.navbar {
    top: 0px;
    width: 100%;
    z-index: 9999;
    overflow:hidden;
}
.right-menu{
    position:absolute;
    width:30%;
    display: none;
    height:100%;
    z-index:99999;
    right:0;
    top:0;
    bottom:0;
    height:100%;
}
.spinner-border{
    color:#aa2fb5;
}
.min100hv{
    min-height:100vh;
}
.spinner-wrapper{
    position: absolute;
    height: 100%;
    display: flex;
    flex: 1 1 1;
    width: 100%;
    text-align: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
}
@media only screen and (max-width:1366px) {
    .right-menu{
        width: 80% !important;
    }
}
@media only screen and (max-width:768px) {
    .right-menu{
        width: 100% !important;
    }
}

    .right-menu .right-menu-btn {
        position: absolute;
        z-index: 99999;
        left: 10px;
        top: 10px;
        height: 80px;
        width: 15px;
    }
        .x {
            position: absolute;
            border-radius: 6px;
            height: 50px;
            width: 50px;
        }
            .x:before, .x:after {
                content: '';
                position: absolute;
                width: 36px;
                margin: auto;
                left: 0;
                right: 0;
                bottom: 0;
                top: 0;
                height: 3px;
                background-color: white;
                box-shadow: 0 0 2px 0 #ccc;
            }
.x:before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}
            .x:after {
                -webkit-transform: rotate(-45deg);
                -moz-transform: rotate(-45deg);
                transform: rotate(-45deg);
            }
.right-menu-btn:hover > .x:after {
    animation: transformRX2 0.8s;
    animation-fill-mode: forwards;
}
.right-menu-btn:hover > .x:before {
    animation: transformRX1 0.8s;
    animation-fill-mode: forwards;
}
.right-menu-btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0 rgb(0 123 255 / 25%);
}
@keyframes transformRX1 {
    0% {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    50% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}
@keyframes transformRX2 {
    0% {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    50% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
}

            .right-menu .right-menu-btn {
            }
            .social a {
                text-decoration: none !important;
                width: 45px;
                height: 45px;
            }

.right-menu-items{
    padding-top:10em;
    text-align:center;
}
    .right-menu-items .right-menu-item{
        padding:2rem  0;
    }
        .right-menu-items .right-menu-item .right-menu-link{
            color:white;
            font-size:2rem;
            font-weight:800;
            text-decoration:none;
            position: relative;
            transition: color 1s;
        }
        .right-menu-items .right-menu-item .right-menu-link:after{
            content: '';
            height: 4px;
            position: absolute;
            width: 40px;
            transition: width 0.5s;
            left:0;
            bottom: 0;
            background: #f7f7f7;
            
            transition: width 500ms;
        }
        .right-menu-items .right-menu-item .right-menu-link:hover{
            color:#aa2fb5;
        }
        .right-menu-items .right-menu-item .right-menu-link:hover:after{
            background:#aa2fb5;
            width: 100%;
        }
        .social-media-icon {
            color: white;
            padding: 10px;
            transition: background 0.2s;
            font-size: 1.5rem;
        }
    #instagram:hover > .social-media-icon {
        background: -webkit-gradient(linear, left top, left bottom, from(#aa2fb5), color-stop(93%, #f1762c)) !important;
        background: -o-linear-gradient(top, #aa2fb5 0%, #f1762c 93%) !important;
        background: linear-gradient(to bottom, #aa2fb5 0%, #f1762c 93%) !important;
    }
#facebook{
    padding:5px;
}
#facebook:hover > .social-media-icon {
    background: #4267B2 !important;
}
#linkedin:hover > .social-media-icon {
    background: rgb(0, 119, 181) !important;
}
#behance:hover > .social-media-icon {
    background: rgb(0, 0, 0,0.9) !important;
}
.bg-soft{
    background:#f4f4f4;
}
.navbar-border-soft{
    border-bottom: 1px solid #e6e6e6;
}

.searchBar{
    margin: 0;
    /* bottom: 0; */
    /* top: 0; */
    /* position: absolute; */
    border: none;
    border-bottom: 1px solid #c7c7c7;
    border-radius: 0;
    width: 50%;
    
}
.searchBar:focus{
    box-shadow: none;
    border-bottom-color: #aa2fb5 ;
}

.toTop{
    background-color: rgb(4, 7, 43);
    bottom: 20px;
    right: 20px;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    position: fixed;
    z-index: 999999999;
}
.slnBtn{
    margin-right: 0.5rem;
    background-color: transparent !important;
    color: #333;
    border-radius: 2px;
    border:none;
    position: relative;
}
.slnBtn:after{
    content: '';
    height: 2px;
    position: absolute;
    width: 30px;
    border-radius: 1px;
    transition: width 0.5s;
    left:0;
    bottom: 0;
    background: black;
}

.slnBtn:hover:after{
    background: #aa2fb5;
    width: 100%;
}
.slnBtn:focus{
    box-shadow: none !important;
}
.slnBtn:hover{
    color: #333;
}
.slnBtn:focus{
    color: #333;
}
.slnBtn.slnActive:after{
    background: #aa2fb5;
}

.modal-open{
    padding: 0 !important;
}
.modal-header{
    height: 0 !important;
 padding: 0 !important;
}
.modal-header .close-btn{
    position: absolute;
    right: 50px;
    z-index: 99999999;
    margin: 0 !important;
    top: 6px;
 
}
.modal-header .close-btn:focus{
    box-shadow: none;
}
.modal-header .close-btn .x{
    background-color: #f9f9f9;
    border-radius: 1%;

}
.modal-header .close-btn .x:before,
.modal-header .close-btn .x:after{
    background-color:#aa2fb5;
    box-shadow:none;
}
.swal2-container{
    z-index: 9999999999 !important;
}
.tools{
    position: fixed;
    left: -.5%;
    top:80%;
    background-color:#f0f0f0;
    transition: all 0.2s;

}
.tools .btn{
    display: block;
}
.tools:hover,.tools:focus{
    left: 0;
}
.tool{
    font-size: 1.7rem;
}
