@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-md-4 text-center image-bg square portfolio-div-size" style="background-image:url('https://mir-s3-cdn-cf.behance.net/project_modules/1400/e58bdc111995433.600c3b4f297f2.jpg')">
        <a href="#">
            <div class="texts">
                <h4>İnvitation design</h4>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </p>
            </div>
        </a>
    </div>
    <div class="col-md-4 text-center image-bg square portfolio-div-size" style="background-image:url('https://mir-s3-cdn-cf.behance.net/project_modules/1400/ea2b9f111881371.6009e5fcc1df4.jpg')">
        <a href="#">
            <div class="texts">
                <h4>İllustration/stamp design</h4>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </p>
            </div>
        </a>
    </div>
    <div class="col-md-4 text-center image-bg square portfolio-div-size" style="background-image:url('https://mir-s3-cdn-cf.behance.net/project_modules/1400/7be796111930767.600adde0301d0.jpg')">
        <a href="#">
            <div class="texts">
                <h4>Selin & Sercan </h4>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </p>
            </div>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-md-4 text-center image-bg square portfolio-div-size" style="background-image:url('https://mir-s3-cdn-cf.behance.net/project_modules/1400/59e83f113508975.60298b5d18cc9.jpg')">
        <a href="#">
            <div class="texts">
                <h4>Lort/brand Identity</h4>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </p>
            </div>
        </a>
    </div>
        <div class="col-md-4 text-center image-bg square portfolio-div-size" style="background-image:url('https://mir-s3-cdn-cf.behance.net/project_modules/1400/f39a2f112996171.601f067407923.jpg')">
        <a href="#">
            <div class="texts">
                <h4>
Social Media Post Design/Cottowel</h4>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </p>
            </div>
        </a>
    </div>
    <div class="col-md-4 text-center image-bg square portfolio-div-size" style="background-image:url('https://mir-s3-cdn-cf.behance.net/project_modules/1400/f39a2f112996171.601f067407923.jpg')">
        <a href="#">
            <div class="texts">
                <h4>Xplant/corporate identity</h4>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </p>
            </div>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-md-4 text-center image-bg square portfolio-div-size" style="background-color:red">
    </div>
    <div class="col-md-4 text-center image-bg square portfolio-div-size" style="background-color:yellow">
    </div>
    <div class="col-md-4 text-center image-bg square portfolio-div-size" style="background-color:grey">
    </div>
</div>