<div class="row mt-4">
  
    <main role="main" class="col-12 ml-auto bg-soft px-5  py-5">
        <div class="row ">
            <div class="card col-md-2  p-0 work" id="new-work" >
              
                <div class="card-body square image-bg text-center bg-soft">
                    <fa-icon [icon]="faPlus" routerLink="/admin/works/add" style="font-size: 8rem;color:#c3c3c3" ></fa-icon>
                </div>
            
            </div>
            <div class="card col-md-2 p-0  work" *ngFor="let work of works">
                <div class="card-header">

                </div>
                <div class="card-body square image-bg px-3" [ngStyle]="{'background-image': 'url(' +photoStockPhotosFile + work.mainPicture + ')'}">
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <button class="btn btn-hover text-primary" routerLink="/admin/works/edit/{{work.id}}">
                        <fa-icon [icon]="faEdit"></fa-icon>
                    </button>
                    <button class="btn btn-hover text-danger " (click)="deleteWork(work.id)">
                        <fa-icon [icon]="faTrash"></fa-icon>
                    </button>
                </div>

            </div>
        
        </div>
    </main>
</div>