<div class="container pt-5">
    <div class="row">
        <div class="col-md-9">
            <table class="table table-striped">
                <thead>
                    <th scope="col">#</th>
                    <th scope="col">Ad</th>
                    <th scope="col">Açıklama</th>
                    <th scope="col">Aktif</th>
                    <th scope="col">Görünüm</th>
                    <th scope="col">Sıra</th>
                    <th scope="col">Oluşturma T.</th>
                    <th scope="col">Güncelleme T.</th>
                    <th scope="col">Araçlar</th>
                </thead>
                <tbody>
                    <tr *ngFor="let category of categories;let i = index">
                        <th>{{i+1}}</th>
                        <td>{{category.title}}</td>
                        <td width="250px">{{category.description}}</td>
                        <td>{{category.isActive?'evet':'hayır'}}</td>
                        <td>{{category.isShowMainPage?'evet':'hayır'}}</td>
                        <td>{{category.sort}}</td>
                        <td>{{category.createdDate?(category.createdDate | date:'yyyy-MM-dd'):''}}</td>
                        <td>{{category.updatedDate?(category.updatedDate | date:'yyyy-MM-dd'):''}}</td>
                        <td width="30px"> 
                            <button ngbDropdown class="btn btn-hover" >
                                <a href (click)="false" class="text-danger" ngbDropdownToggle> <fa-icon [icon]="faGear"></fa-icon></a>
                                <div ngbDropdownMenu>
                                    <button ngbDropdownItem (click)="editClick(category.id)">Düzenle</button>
                                    <button ngbDropdownItem (click)="deleteClick(category.id)">Sil</button>
                                </div>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-3 border pt-4">
            <form #categoryAddForm="ngForm" (ngSubmit)="submit()">
                <div class="form-group mb-4">
                    <label>Kategori adı</label>
                    <input class="form-control" [(ngModel)]="category.title" name="title" type="text" />
                </div>
                <div class="form-group mb-4">
                    <label>Kategori açıklaması</label>
                    <textarea class="form-control" [(ngModel)]="category.description" name="description" type="text">

                    </textarea>
                </div>
                <div class="form-group  form-check mb-4">
                    <input type="checkbox"  [(ngModel)]="category.isActive" name="isActive" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Aktif</label>
                </div>
                <div class="form-group  form-check mb-4">
                    <input type="checkbox"  [(ngModel)]="category.isShowMainPage" name="isShowMainPage" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Anasayfada Görünsün mü?</label>
                </div>
                <div class="form-group mb-4">
                    <label>Kategori Sırası</label>
                    <input class="form-control w-25" [(ngModel)]="category.sort" name="sort" type="number" min="0" />
                </div>

                
                <div class="form-group mb-4">
                    <input class="form-control" type="submit" value="Kaydet" />
                </div>
            </form>
        </div>
    </div>
</div>